%body
  %h1 Aqui va el body

  - if session[:user]
    - @output = show_rss(User.first(:username => "#{session[:user]}").rss)
    - for i in 0.. @output.length
      %p #{@output[:title][i]}
      %p #{@output[:link][i]}