%cabecera
  .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
    .container
      .navbar-header
        %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}%a.navbar-brand{href: "#"} Registro
      .navbar-collapse.collapse
        %form.navbar-form.navbar-right{role: "form"}
          - if session[:user]
            %li.active
              %a{:href => "users/#{User.first(:username => "#{session[:user]}").id}"}
                = session[:user]
            %li
              %a{:href => "/logout"}Desconectar
              %ul
                %li
                  %a{:href => "/"}Home              
          - else
            .form-group
              %form{:action=>"/",:method=>"POST"}  
                .form-group
                  %input.form-control{placeholder: "User", type: "text", :name=>"user[username]"}
                .form-group
                  %input.form-control{placeholder: "Password", type: "password", :name=>"user[password]"}
                %button.btn.btn-success{type: "submit"} Sign in
            %a.navbar-brand{href: "/sign_up"} &nbsp &nbsp &nbsp Sign Up
            
              
