%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title VisualRSS
    %link{:rel=>"stylesheet", :href=>"/css/bootstrap.css", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/css/bootstrap.min.css", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/css/bootstrap.theme.css", :type=>"text/css"}
    %link{:rel=>"stylesheet", :href=>"/css/bootstrap.theme.min.css", :type=>"text/css"}
    %script{:type=>"text/javascript", :src=>"/javascript/jquery.js"}
    %script{:type=>"text/javascript", :src=>"/javascript/bootstrap.js"}
    %script{:type=>"text/javascript", :src=>"/javascript/bootstrap.min.js"}
    %script{:type=>"text/javascript", :src=>"/javascript/bootstrap-dropdown.js"}
    %script{:type=>"text/javascript", :src=>"/javascript/bootstrap-modal.js"}
    %script{:type=>"text/javascript", :src=>"/javascript/javascript-dropdown.js"}
    %script{:type => "text/javascript", :src=>"/javascript/validacion.js"}
    %link{:rel=>"stylesheet", :href=>"/css/style.css", :type=>"text/css"}