= haml :comun
= haml :cabecera

%form.form-horizontal{:name => "registro", :method => "POST", :action => "/sign_up"}
  %fieldset
    %legend Registro
    .control-group
      %label.control-label{for: "textinput"}
      .controls
        %input#passwordinput.input-xlarge{placeholder: "Link a la RSS",:type => "text", :name => "user[rss]"}
    .control-group
      %label.control-label{for: "textinput"}
      .controls
        %input#passwordinput.input-xlarge{placeholder: "Titulo de la RSS",:type => "text", :name => "user[titulo_rss]"}
    .control-group
      %label.control-label{for: "singlebutton"}
      .controls
        %button#singlebutton.btn.btn-primary{name: "singlebutton"} Enviar

= haml :pie
