= haml :comun
= haml :cabecera

.perfil
  - if session[:user]
    %br
    %img#construccion{alt: "construccion", src: "images/pagina_construccion.png"}
  - else
    - redirect to ('/')
    
= haml :pie