= haml :comun
= haml :cabecera

%form.form-horizontal{:name => "registro", :method => "POST", :action => "/sign_up"}
  %fieldset
    %legend Registro
    .control-group
      %label.control-label{for: "textinput"} 
      .controls
        %input#textinput.input-xlarge{placeholder: "Nombre",:type => "text", :name => "user[username]"}
    .control-group
      %label.control-label{for: "passwordinput"}
      .controls
        %input#passwordinput.input-xlarge{placeholder: "Contraseña",:type => "password", :name => "user[password]"}
    .control-group
      %label.control-label{for: "textinput"}
      .controls
        %input#passwordinput.input-xlarge{placeholder: "Link a la RSS",:type => "text", :name => "user[rss]"}
    .control-group
      %label.control-label{for: "textinput"}
      .controls
        %input#passwordinput.input-xlarge{placeholder: "Titulo de la RSS",:type => "text", :name => "user[titulo_rss]"}
    .control-group
      %label.control-label{for: "textinput"}
      .controls
        %input#passwordinput.input-xlarge{placeholder: "Link a la foto de perfil",:type => "text", :name => "user[foto]"}
    .control-group
      %label.control-label{for: "checkboxes"}
      .controls
        %label.checkbox{for: "checkboxes-0"}
        %input#checkboxes-0{name: "checkboxes", type: "checkbox", value: "Acepto las condiciones de uso"}
        Acepto las 
        %a{href: "http://www.google.com"} condiciones de uso.
    .control-group
      %label.control-label{for: "singlebutton"}
      .controls
        %button#singlebutton.btn.btn-primary{name: "singlebutton"} Enviar

= haml :pie

