.body{
  background-color:#F5F5F5;
  min-height:40em;
  margin-top:3.5em;
  margin-left:5em;
  margin-right:5em;
}

.footer{
  border-color:black;
  text-align:right;
  margin-left:5em;
  margin-right:5em;
}

.cabecera {
  margin-bottom: 5em;
}

.desplegable {
  margin-top: 1.25em;
  margin-left: 63em;
}

button{
  min-width:11.2em;
}

input{
  min-height:2em;
}

fieldset{
  margin-top: 6em;
  text-align: center;
}

img{
  margin-top: 0.4em;
  height:3em;
  width: 10em;
}

.registro{
  font-weight: bold;
}

.rss_asociada{
    margin-left: 23em;
}

ul.dropdown-menu{
    margin-left:23em;
    text-align:center;
}

hr{
  margin-top:0.3em;
  margin-bottom:0.3em;
  border-color:#7A7A7A;
  color: #7A7A7A;
  background-color: #7A7A7A;
}

.navbar.navbar-inverse.navbar-fixed-top{
  background-color:#E0E0E0;
  border:0px;
  margin-left:5em;
  margin-right:5em;
}

form.form-horizontal{
  margin-left: -13em;
  text-align:center;
  margin-top: 3em;
  min-height:38em;
}

.footer.p{
  font-size:2em;
}

.perfil{
  background-color:#F5F5F5;
  min-height:40em;
  margin-top:3.5em;
  margin-left:5em;
  margin-right:5em;
}

.body_show{
  background-color:#F5F5F5;
  min-height:40em;
  margin-top:3.5em;
  margin-left:7em;
  margin-right:5em;
}


#error {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-left: 32.5em;
}

#carousel-example-generic{
  margin-top: -2.5em;
  -webkit-border-radius: 5px 10px;  /* Safari  */
  -moz-border-radius: 5px 10px;     /* Firefox */
}

#carousel-example-generic.carousel.slide{
  text-align:center;
  min-width:11.2em;
  min-height:33em;
  -webkit-border-radius: 5px 10px;  /* Safari  */
  -moz-border-radius: 5px 10px;     /* Firefox */
}

a.left.carousel-control{
  margin-left: 1em;
  margin-top: 10em;
  background: blue;
  color: black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-left: 1em;
  margin-top: 10em;
  background: #E8E8E8;
}

a.right.carousel-control{
  margin-left: 1em;
  margin-top: 10em;
  background: blue;
  margin-right: 1em;
  color: black;
  text-align: center;
  margin-top: 10em;
  background: #E8E8E8;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.carousel_rss{
  background-color: #FFFAFA;
  text-align: center;
  -webkit-border-radius: 5px 10px;  /* Safari  */
  -moz-border-radius: 5px 10px;     /* Firefox */
  min-width:11.2em;
  min-height:33em;
}

span.glyphicon.glyphicon-chevron-left{
  margin-top:-0.5em;
  margin-left: -0.55em;
}

span.glyphicon.glyphicon-chevron-right{
  margin-top: -0.5em;
  margin-right: -0.5em;
}

img.quesomos{
  margin-top: 0.4em;
  height:13em;
  width: 13em;
}

.aboutus{
  
}
