.body{
  background-color:#F5F5F5;
  min-height:40em;
  margin-top:3.5em;
  margin-left:5em;
  margin-right:5em;
}

.footer{
  border-color:black;
  text-align:right;
  margin-left:5em;
  margin-right:5em;
}

.cabecera {
  margin-bottom: 5em;
}

.desplegable {
  margin-top: 1.25em;
  margin-left: 63em;
}

button{
  min-width:11.2em;
}

input{
  min-height:2em;
}

fieldset{
  margin-top: 6em;
  text-align: center;
}

img{
  margin-top: 0.4em;
  height:3em;
  width: 10em;
}

.registro{
  font-weight: bold;
}

.rss_asociada{
    margin-left: 23em;
}

ul.dropdown-menu{
    margin-left:23em;
    text-align:center;
}

hr{
  margin-top:0.3em;
  margin-bottom:0.3em;
  border-color:#7A7A7A;
  color: #7A7A7A;
  background-color: #7A7A7A;
}

.navbar.navbar-inverse.navbar-fixed-top{
  background-color:#E0E0E0;
  border:0px;
  margin-left:5em;
  margin-right:5em;
}

form.form-horizontal{
  margin-left: -13em;
  text-align:center;
  margin-top: 3em;
  min-height:38em;
}

.footer.p{
  font-size:2em;
}

.perfil{
  background-color:#F5F5F5;
  min-height:40em;
  margin-top:3.5em;
  margin-left:5em;
  margin-right:5em;
}

.body_show{
  background-color:#F5F5F5;
  min-height:40em;
  margin-top:3.5em;
  margin-left:7em;
  margin-right:5em;
}


#error {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-left: 30.5em;
}